body{
	font-family: Arial;
	padding-left: 280px;
}


nav ul{
	list-style: none; /*get rid bullet points*/
	padding: 0;
}

nav li a{
	text-decoration: none; /* get rid underline*/
	text-transform: uppercase;
	background-color: #e5005f;
	color: white;
	padding: 5px 10px;
	margin: 2px 0px;
	display: inline-block; /* make to be block element*/
	font-size: x-large;

}

nav li a:hover,
#active {
	background-color: #333333;
}

nav{
	padding: 10px 0 0 10px;
	width: 240px;
	position: fixed;
	left:	10px;
	
}

nav > a{
	display: block;
	text-decoration: none;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 10px; /* target bottom of box*/
	font-weight: bold;

}

nav > a:hover{
	color: #e5005f;
}

main aside p{
	background-color: #eeeeee;
	padding: 10px;
}

main{
	width: 40%;
}

hr{
	border: none;
	border-top: 1px dashed #dddddd;
}

article img{
	max-width: 100%;
}


.related div{
	width: 240px;
	text-align: center;
}

.related:after{
	content: '';
	display: block;
	clear: both;
}

.related div:nth-of-type(1){
	float: left;
	margin-left: 60px;
}

.related div:nth-of-type(2){
	float: right;
	margin-right: 60px;
}

.related img{
	border-radius: 50%;

}

.related div a{
	background-color: #e5005f;
	display: block;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: -20px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#scroll-right,
#scroll-left{
	font-size: 24px;
	border:	none;
	background-color: transparent;
	cursor: pointer;
	color:	#e5005f;
	position: absolute;
	top: 50%;
}

#scroll-left{
	
	left: 0;
	
}

#scroll-right{
	right: 0;
}

.related{
	position: relative;
}













































